<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="TFS Cortex" value="http://tfs:8080/tfs/APDCollection/_packaging/Cortex/nuget/v3/index.json" />
    <add key="TFS Common" value="http://tfs:8080/tfs/APDCollection/_packaging/Common/nuget/v3/index.json" />
  </packageSources>
</configuration>